doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body

    div.print
      h1
        span.name #{name} 
        | was here

    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
